DB_DATABASE=${DB_DATABASE}
DB_SERVER=${DB_SERVER}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}

DB_CHARSET=utf8mb4
DB_COLLATE=utf8mb4_unicode_ci

BASE_URL=https://researchchatai.com
ENCRYPTION_KEY=

STREAM_CONFIG_DIR=

SMTP_HOST=smtp.mail.me.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_FROMNAME="ResearchChatAI"

TURNSTILE_SITE_KEY=${TURNSTILE_SITE_KEY}
TURNSTILE_SECRET_KEY=${TURNSTILE_SECRET_KEY}

OPENAI_API= 
OPENROUTER_API=